body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkgrey;
    cursor: default;
}

.gameText {
    text-align: center;
    color:darkblue;
    font-size: 40pt;
    line-height:50pt;
    height: 50pt;
    min-width: 200pt;
    border:2px solid black;
}

#gameTable {
    border: 5px solid black;
    background-color: blue;
}

.gameSquare {
    background-color:blue;
    border:4px solid yellow;
    width: 15vmin;
    height: 15vmin;
    color: white;
    font-size: 80pt;
    font-weight:bold;
    text-align: center;
    line-height: 15vh;
}

div {
    align-self: center;
}